{{! Lista de todo mis Post }}
<section class="Post Clear">

  {{#foreach posts}}

  <article class="Post-items">
      <div class="Post-main u-border">
        <header class="Post-header">
          {{#if image}}
            <a href="{{url}}" class="Post-imageContent"><img class="Post-image" src="{{image}}" alt="{{{title}}}" /></a>
          {{/if}}
          <time class="Post-date icon-calendar" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <h2 class="Post-title"><a class="Post-titlelink" href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="Post-excerpt">
          <p>{{excerpt characters="110"}}...</p>
        </section>
        <footer class="Post-footer">
          {{#if author.image}}
            <img class="Post-autorImage" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />
          {{/if}}
          {{#author}}
            <div class="Post-autorLink">{{name}}</div>
          {{/author}}
          {{#if tags}} <div class="Post-tag icon-tags">{{tags separator=" . "}} <i class="Post-tagEnd"></i> </div> {{/if }}
        </footer>
      </div>
  </article>

  {{/foreach}}

</section>
{{! Previous/next page links - displayed on every page }}

{{pagination}}

