{{! List the Post }}
<main class="Post Clear">
  {{#foreach posts}}
  {{!-- Post Items loop --}}
  <article class="Post-items">
      <div class="Post-main u-border">
        {{!-- Header post Loop --}}
        <header class="Post-header">
          {{#if image}}
            <a href="{{url}}" class="Post-imageContent"><img class="Post-image" src="{{image}}" alt="{{{title}}}" /></a>
          {{/if}}
          <time class="Post-date icon-calendar" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <h2 class="Post-title"><a class="Post-titlelink" href="{{url}}">{{{title}}}</a></h2>
        </header>
        {{!-- excerpt Post --}}
        <section class="Post-excerpt">
          <p>{{excerpt characters="118"}}. . .</p>
        </section>
        {{!-- Footer Post items --}}
        <footer class="Post-footer">
          {{!-- add Author --}}
          {{#if author.image}}
            <img class="Post-autorImage" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />
          {{/if}}
          {{#author}}
            <div class="Post-autorLink">{{name}}</div>
          {{/author}}
          {{#if tags}} <div class="Post-tag icon-tags">{{tags separator=" . "}} <i class="Post-tagEnd"></i> </div> {{/if }}
        </footer>
      </div>
  </article>
  {{!-- end Post Items --}}
  {{/foreach}}
</main>
{{!-- add pagination --}}
{{pagination}}
