<!DOCTYPE html>
<html lang="es_ES">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1">
  {{!-- Title Page --}}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  {{!-- icon  --}}
  <link rel="icon" sizes="192x192" href=" {{asset "img/icon.png"}}" />
  {{!-- og Social Media --}}
  {{!-- og tags Facebook --}}
  <meta property="fb:admins" content="981122618569985" />
  <meta property="og:description" content="{{meta_description}}" />
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{{block "meta_url"}}}" />
  <meta property="og:image" content="{{{block "meta_facebook"}}}" />
  {{!-- og tags Google+ --}}
  <meta itemprop="description" content="{{meta_description}}" />
  {{!-- Twitter Cards  --}}
  <meta property="twitter:account_id" content="114069455" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@GodoFredoNinja" />
  <meta name="twitter:title" content="{{meta_title}}" />
  <meta name="twitter:description" content="{{meta_description}}" />
  <meta name="twitter:creator" content="@GodoFredoNinja" />
  <meta name="twitter:image:src" content="{{{block "meta_twitter"}}}" />
  {{!-- Fonts --}}
  <link href='//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endinject -->
</head>
<body>
  <div class="Landing">
    {{> "header"}}
    {{{body}}}
    {{> "footer"}}
    {{!-- Add ads --}}
    <aside class="Ads Ads-Responsive"> </aside>
  </div>
  <!-- bower:js -->
  <script src="/assets/lib/jquery/dist/jquery.js"></script>
  <script src="/assets/lib/fitvids/jquery.fitvids.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/assets/scripts/jquery.ghostHunter.min.js"></script>
  <script src="/assets/scripts/main.js"></script>
  <script src="/assets/scripts/prism.js"></script>
  <!-- endinject -->
  {{!-- Scripts --}}
  <script src="https://platform.twitter.com/widgets.js"></script>
  <script src="https://apis.google.com/js/platform.js"></script>

  {{!-- facebook Scripts --}}
  <div id="fb-root"></div>
  <script> (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.0"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); </script>
  {{!-- Add Google Analytics  --}}
  {{> "analytics"}}

</body>
</html>
